header {        //*styling the header part of the website//
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #8ccff7;
}
$mycolor: lightblue; //*creating the variable here for the divs of colors and using the list for it,circles,and there sizes//
$myWidth: 100%;
$colors:white #4e89ae #43658b#ed6663 #ffa372 #444;
$circle-1: 70px;
$circle-2: 80px;
$circle-3: 90px;
$circle-4: 100px;
$border-radius: 50%;
.circle-1:hover, .circle-2:hover, .circle-3:hover, .circle-4:hover{
    background-color: nth($colors,6);//*hovering the circles here//
}
.div-1:hover, .div-2:hover, .div-3:hover, .div-4:hover{
    background-color: nth($colors,6); //*hovering the divs here//
}
@mixin media($min-width, $max-width){//*by using mixin giving the media queries here//
    @media screen and (min-width: $min-width) and (max-width: $max-width){
        @content
    }
}
.circle {               
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 10px;
    align-items: center;
    @include media(0px, 620px){
        flex-direction: column;
    }
}                                    //*designing the circles here and adding media queries as well//
body {
    color:$mycolor   //*adding the color to body by using the variable//
}
.div-0 {              //*giving the width variable here and giving the index number in list from the colors.//
    width: $myWidth;
    height: 5vh;
    background-color: nth($colors, 1 );


}
.div-1{       //*using extend here for the div 1 and giving the index number from the list for colors.//
    @extend .div-0;
    background-color: nth($colors, 2);
 
 }
 .div-2{  //*using extend here for the div 2 and giving the index number from the list for colors.//
    @extend .div-0;
    background-color: nth($colors,3);
 
 }
.div-3{ //*using extend here for the div 3 and giving the index number from the list for colors.//
    @extend .div-0;
    background-color: nth($colors, 4);
 
 }
 .div-4{ //*using extend here for the div 4 and giving the index number from the list for colors.//
    @extend .div-0;
    background-color: nth($colors, 5);
 
 }
 
.circle-1 {        //*giving the variable of height and width to the circle 1 by giving the border radius as well//
    @extend header, .div-1;
    height: $circle-1;
    width:$circle-1;
    border-radius: $border-radius;
    
}
.circle-2 {  //*giving the variable of height and width to the circle 2 by giving the border radius as well//
    @extend header, .div-2,.circle-1;
    height: $circle-2;
    width:$circle-2;
    
}
.circle-3 {   //*giving the variable of height and width to the circle 3 by giving the border radius as well//
    @extend header,.div-3,.circle-1;
    height: $circle-3;
    width:$circle-3;
}
.circle-4 {
    @extend header, .div-4,.circle-1; //*giving the variable of height and width to the circle 4 by giving the border radius as well//
    height: $circle-4;
    width:$circle-4;
}
footer{                //*designing the footer//
    background-color: #8ccff7;
    height: 50px;
}



