img {                     /*sizing the image*/
    max-width: 100%;

}

.content {               /*displaying the content*/
    display: grid;

}

nav {                     /*adjusting the nav bar*/
    padding: 10px;
}

.container {            /*adjusting the size of the container*/
    margin: 0 auto;
    max-width: 1024px;
}
p{                     /*styling the paragraph*/

    line-height: 1.5;
    text-align: left;
    padding: 10px;
}

@media (max-width: 480px){     /*giving the media queries*/
    .content{
        width: 100%;
    }

} 
@media screen and (min-width: 481px)and (max-width: 1023px){ /*giving the media queries*/
    .content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1024px){   /*giving the media queries*/
    .content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.icon{          /*styling the icon*/

    background-color: black;
    text-align: center;
    text-decoration: aliceblue;
}
footer{    /*styling the footer*/
    background-color: black;
    color: white ;
    text-align:center ;
}